<!DOCTYPE html>
<html>
<head>
  <title>MYB2B</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'sign_up', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="container">
     <% if !flash.empty? %>
      <% flash.each do |key, value|%>
        <% if value.nil? %>
        <% else %>
           <% if value.is_a?(Array) %>
             <div class="alert alert-<%= key %>">
                <% value.each do |message| %>
                  <%= message %><br>
                <% end %> 
              </div>
            <% else %>
            <div class="alert alert-<%= key %>">
              <%= value %>
            </div>
           <% end %>
          <br>
        <% end %>
      <% end %>
    <% end %> 
  <%= yield %>
  

</div>

</body>
</html>